(
  [
    (
      title: ("Default Power"),
      id: 0,
      cost: 0,
      production_amount: 1,
      production_rate: 1000000.0,
      max_owned: 1,
    ),
    (
      title: ("Middle School Science Project"),
      id: 1,
      cost: 10,
      production_amount: 10,
      production_rate: 10.0,
      max_owned: 9223372036854775807, // i64::MAX, they are potatoes
    ),
    (
      title: ("Hamster on a Wheel"),
      id: 2,
      cost: 100,
      production_amount: 25,
      production_rate: 5.0,
      max_owned: 30000000, // approx population of hamsters according to some robot
    ),
    (
      title: ("'Gas' Engine"),
      id: 3,
      cost: 333,
      production_amount: 2500,
      production_rate: 60.0,
      max_owned: 1, // you only have one butthole
    ),
    (
      title: ("Portable Generator"),
      id: 4,
      cost: 1000,
      production_amount: 100,
      production_rate: 8.0,
      max_owned: 9223372036854775807, // i64::MAX, the machine cannot be stopped
    ),
    (
      title: ("Hotwire the Neighbors"),
      id: 5,
      cost: 9999,
      production_amount: 123,
      production_rate: 1.0,
      max_owned: 128000000, // "neighbors" is subjective
    ),
    (
      title: ("Electric Eel Farm"),
      id: 5,
      cost: 9999,
      production_amount: 123,
      production_rate: 1.0,
      max_owned: 128000000, // "neighbors" is subjective
    ),
    (
      title: ("Garage Reactor"),
      id: 7,
      cost: 222222,
      production_amount: 1000,
      production_rate: 1.0,
      max_owned: 1, // don't have a garage
    ),
    (
      title: ("Buttered Cat Paradox"),
      id: 100,
      cost: 1,
      production_amount: 1,
      production_rate: 0.00001, max_owned: 999, // they eventually learn
    ),
  ] 
)
