(
  [
    (
      power: (),
      title: ("Default Power"),
      id: (0),
      cost: (0),
      production_amount: (1),
      production_rate: (1000000.0), // ratio: 0.000001
      max_owned: (1),
      current_owned: (0),
      unlock_bound: (9223372036854775807),
    ),
    (
      power: (),
      title: ("Middle School Science Project"),
      id: (1),
      cost: (50),
      production_amount: (10),
      production_rate: (10.0), // ratio: 1.0
      max_owned: (9223372036854775807), // i64::MAX, they are potatoes
      current_owned: (0),
      unlock_bound: (50),
    ),
    (
      power: (),
      title: ("Hamster on a Wheel"),
      id: (2),
      cost: (1000),
      production_amount: (25),
      production_rate: (5.0), // ratio: 5.0
      max_owned: (30000000), // approx population of hamsters according to some robot
      current_owned: (0),
      unlock_bound: (1000),
    ),
    (
      power: (),
      title: ("'Gas' Engine"),
      id: (3),
      cost: (33333),
      production_amount: (100000),
      production_rate: (240.0), // ratio: 416.6
      max_owned: (1), // you only have one butthole
      current_owned: (0),
      unlock_bound: (10000),
    ),
    (
      power: (),
      title: ("Portable Generator"),
      id: (4),
      cost: (242424),
      production_amount: (800),
      production_rate: (8.0), // ratio: 100.0
      max_owned: (9223372036854775807), // i64::MAX, the machine cannot be stopped
      current_owned: (0),
      unlock_bound: (100000),
    ),
    (
      power: (),
      title: ("Hotwire the Neighbors"),
      id: (5),
      cost: (999999),
      production_amount: (222),
      production_rate: (1.0), // ratio: 222.0
      max_owned: (128000000), // "neighbors" is subjective
      current_owned: (0),
      unlock_bound: (1000000),
    ),
    (
      power: (),
      title: ("Electric Eel Farm"),
      id: (6),
      cost: (2500000),
      production_amount: (25000),
      production_rate: (60.0), // ratio: 416.0
      max_owned: (10000000), // eel population - Source: I made it up
      current_owned: (0),
      unlock_bound: (10000000),
    ),
    (
      power: (),
      title: ("Miniscule Hadron Collider"),
      id: (7),
      cost: (111111111),
      production_amount: (123456),
      production_rate: (33.0), // ratio: 3741.0
      max_owned: (123456789), // that's how small they are
      current_owned: (0),
      unlock_bound: (100000000),
    ),
    (
      power: (),
      title: ("Luke-warm Fusion Reactor"),
      id: (8),
      cost: (987654321),
      production_amount: (9999),
      production_rate: (0.1), // ratio: 99990.0
      max_owned: (1), // you're only so-so on it
      current_owned: (0),
      unlock_bound: (1000000000),
    ),
    (
      power: (),
      title: ("Buttered Cat Paradox"),
      id: (9),
      cost: (1),
      production_amount: (1),
      production_rate: (0.00001), // ratio: 100000.0 
      max_owned: (999), // they eventually learn
      current_owned: (0),
      unlock_bound: (10000000000),
    ),
  ] 
)
